<!DOCTYPE html>
<html>
<head>
	<title>Edgar Xolop</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bulma.min.css">
	<style>
		html{
			overflow-y: auto;
		}
	</style>
</head>
<body>
	<div id="app">
		<nav class="nav has-shadow" >
			<div class="container">
				<div class="nav-left">
					<a class="nav-item">Edgar Xolop</a>
					<router-link class="nav-item is-tab is-hidden-mobile" :class="{'is-active': (route.path == location.path)}" v-for="route in routes" :to="route.path" @click="setRoute(route)">{{route.label}}</router-link>
				</div>
				<span class="nav-toggle" :class="{'is-active': toggleIsActive}" @click="toggleButton()">
					<span></span>
					<span></span>
					<span></span>
				</span>
				<div class="nav-right nav-menu" :class="{'is-active': toggleIsActive}">
					<router-link class="nav-item is-tab is-hidden-tablet" :class="{'is-active': (route.path == location.path)}" v-for="route in routes" :to="route.path" @click="setRoute(route)">{{route.label}}</router-link>
				</div>
			</div>
		</nav>
		
		<router-view></router-view>
	</div>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/vue-resource.min.js"></script>
	<script type="text/javascript" src="js/vue-router.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>